.config/BetterDiscord/data/
.config/BetterDiscord/plugins/
.config/BetterDiscord Installer/
.config/color/
.config/DisplayCAL/
.config/dconf/
.config/discord/
.config/discordo/
.config/fcitx/
.config/filezilla/
.config/GIMP/
.config/Google/
.config/instaloader/
.config/lightnovel-cli
.config/lutris/runners/
.config/menus/
.config/mozc/
.config/mpd/database
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/mpd/playlists/
.config/mpv/watch_later/
.config/ncmpcpp/error.log
.config/ncmpcpp/patterns.list
.config/nvim/
.config/OpenTabletDriver/Plugins/
.config/OpenTabletDriver/Presets/
.config/obs-studio/
.config/pulse/
.config/spotify/
.config/spicetify/
.config/systemd/
.config/vis/vis.log
.config/wal-discord/
.config/QtProject.conf
.config/pavucontrol.ini
.config/Joplin/
.config/Android Open Source Project/
.config/Thunar/
.config/configstore/
.config/draw.io/
.config/gentoo/
.config/joplin-desktop/
.config/kde.org/
.config/xfce4/
.config/xournalpp/
.config/mimeapps.list
.config/pcmanfm
.config/libfm
