~/.config/BetterDiscord/data/
~/.config/BetterDiscord/plugins/
~/.config/discordo/
~/.config/Google/
~/.config/lutris/runners/
~/.config/menus/
~/.config/mpd/pid
~/.config/mpd/state
~/.config/mpd/sticker.sql
~/.config/mpd/playlists/
~/.config/mpv/watch_later/
~/.config/ncmpcpp/error.log
~/.config/ncmpcpp/patterns.list
~/.config/nvim/
~/.config/pulse
~/.config/systemd/
~/.config/wal/
~/.config/wal-discord/
